@font-face {
  font-family: "Open Sans";
  src: url("fonts-Open_Sans/OpenSans-Regular.woff2") format("woff2"),
    url("fonts-Open_Sans/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: rgba(0, 0, 0, 0.4);
}

body {
  font-family: "Open Sans", sans-serif;
}

/* //// Landing-page-sign-up */

.section__sign-up {
  width: 100vw;
  height: 130vh;
  background-image: url(./Img-landing-pages/image\ 2.png);
  background-size: cover;
  position: relative;
}

section .sign-up_container {
  width: 33vw;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 4rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign-up_header {
  font-size: 3rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 3rem;
}

.section__sign-up-input {
  width: 100%;
  padding: 2rem;
  background-color: rgba(51, 51, 51, 1);
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
}

input[type="email"]::placeholder,
input[type="number"]::placeholder {
  color: rgba(140, 140, 140, 1);
}

.section__sign-up-link {
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 1.6rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding: 2rem;
  margin: 3rem 0 2rem 0;
  border-radius: 4px;
  background-color: rgba(229, 9, 20, 1);
  border: 1px solid rgba(0, 0, 0, 0.55);
}

.section__sign-up-remb {
  display: flex;
  justify-content: center;
  gap: 14rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: rgba(179, 179, 179, 1);
  margin-bottom: 5rem;
}

.sign-up-follow {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.sign-up-img {
  height: 2.4rem;
}
.sign-up-follow-p {
  font-size: 1.4rem;
  font-weight: 600;
  color: rgba(115, 115, 115, 1);
  letter-spacing: -0.5px;
}

.section__sign-up-now {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.6rem;
  letter-spacing: -0.5px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.sign-up-nw {
  color: rgba(115, 115, 115, 1);
}

.sign-up-now {
  color: rgba(255, 255, 255, 1);
}

.sign-up-learn {
  width: 80%;
}

.sign-up-learn-p,
.sign-up-learn-link {
  color: rgba(140, 140, 140, 1);
  font-size: 1.2rem;
  font-weight: 400;
}
.sign-up-learn-link {
  text-decoration: none;
  color: rgba(0, 113, 235, 1);
  margin-left: 2px;
}

.sign-up__footer {
  width: 100vw;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.sign-up__footer-container {
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.sign-up__footer-p,
.sgn_details-link {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(117, 117, 117, 1);
}

.sign-up__footer-p {
  margin-left: 4rem;
}

.sign-up__footer-details-dev {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 8rem;
  margin-top: 1.8rem;
}

.sign-up__footer-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sgn_details-link {
  font-size: 1.2rem;
}
.margin-left {
  margin-right: 12rem;
  margin-top: 1rem;
}

.footer__nav {
  display: inline-block;
  color: rgba(117, 117, 117, 1);
  margin-left: 4.8rem;
  margin-top: 2rem;
}

.nav_footer {
  display: flex;
  justify-content: center;
  gap: 5px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 2px;
  padding: 5px;
  height: 3rem;
}

.nav_footer-text {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 1);
}

/* .section__footer-pg {
  font-size: 1.6rem;
  color: rgba(117, 117, 117, 1);
  margin-top: 3rem;
  margin-left: 21rem;
} */
